<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imdb-App</title>

    <link href="~/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

   
</head>
<body>

    <header>

        <div class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container">
                <a href="/" class="navbar-brand">Imdb App</a>
                @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Episodes</a>
                    </li>
                </ul>*@
            </div>
        </div>

    </header>
    <main>
        <div class="container mt-4">
            @RenderBody()
        </div>
    </main>
    <footer>

        <div class="footer py-3 mt-3">
            <div class="container">
                <span class="text-muted">This project has been made by Kerim Can İslamoğlu</span>
            </div>
        </div>
    </footer>

    <script src="~/vendor/jquery/dist/jquery.min.js"></script>

</body>
</html>
